@media (min-width: 300px) and (max-width: 575.98px) { 
  .booking_avibile{
    text-align: center;
    justify-content: center !important;
  }
  .nav-tabs .nav-link {
    margin: 0px 10px;
    font-size: 12px;
  }
  .sokhna_name h3 {
    font-size: 20px;
    margin-top: 2px;
  }
  .sokhna_profile img {
    width: 80px;
    height: 80px;
  }
  .sokhna_name span {
    font-size: 12px;
    padding: 8px 8px 8px 8px;
  }
  .sokhan_label_items h4 {
    font-size: 16px;;
  }
  .sokhan_label_items p {
    font-size: 10px;
  }
  .booking_ivermant {
    margin-top: 24px;
  }
  .booking_status .title h3 {
    font-size: 16px;
    margin-bottom: 2px;
  }
  .booking_status .title p {
    font-size: 12px;
  }
  .booking_status .box_area .img_bg {
    width: 48px;
    height: 48px;
    padding: 10px 0px 0px 9px;
  }
  .booking_status .box_area img {
    width: 80%;
  }
  .booking_status .box_area h3 {
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .booking_status .box_area {
    padding: 16px 20px;
  }
  .booking_status .box_area_text h4 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .booking_status .box_area_text p {
    font-size: 12px;
  }
  .booking_status .box_area a {
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #EF3A5D;
    padding: 7px 19px;
    background-color: #FDEBEF;
    border-radius: 100px;
    text-decoration: none;
    align-items: center;
    height: 34px;
    margin-top: 12px;
  }
  .calendar {
    margin: 0px;
    border-radius: 16px;
    padding: 0px;
    /* position: relative; */
    /* background-color: #ffffff; */
  }
  .calendar-body div {
    padding: 0px 0px;
    font-size: 12px;
    margin-top: 10px;
  }
  .calendar-weekdays {
    font-size: 12px;
  }
  .calendar-header {
    font-size: 14px;
    margin-top: 20px;
  }
  .calander_area .title h3 {
    font-size: 15px;
    margin-bottom: 0px;
  }
  .calander_area .title p {
    font-size: 12px;
  }
  .navbar_area {
    margin: 0px auto;
    border-radius: 0px;
    height: 64px;
  }
  .banner_col_bg_img{
    padding: 0px 0px;
  }
  .banner_col_bg_img img{
    height: 220px;
  }
  .bg_for_booking_avivble .booking_avibile p {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .bg_for_booking_avivble .booking_avibile p span {
    margin-bottom: 4px;
    font-size: 12px;
  }
  .bg_for_booking_avivble {
    background-color: #F7F5FA;
    border-radius: 8px;
    padding: 8px 14px;
    margin: 10px 20px;
  }
  .bg_for_booking_avivble .booking_avibile .color_box {
    width: 16px;
    height: 16px;
  }
  .form_submit button {
    font-size: 12px;
    padding: 12px 26px;
  }
  .contact_name p {
    font-size: 12px;
  }
  .contact_name h3 {
    font-size: 16px;
  }
  .arrows{
    display: none !important;
  }
  .form_booking {
    background-color: #ffffff;
    padding: 19.5px 14px;
    border-radius: 16px;
    margin-top: 48px;
    margin-bottom: 0px;
  }
  .zero_p_col{
    padding: 0px 0px !important;
  }
 .login-container {
	height: 242px;
	opacity: 1;
}
.logo img {
	height: 64px !important;
	width: auto;
	margin: 5px 0px 0px 0px;
}
.login-form {
	background-color: rgb(255, 255, 255);
	padding: 24px 16px;
	width: 100%;
	z-index: 2;
	margin-top: 70%;
	position: relative;
	left: 0%;
}
.login-form h2 {
	font-size: 20px;
  line-height: 25px;
}
.login-form p {
	font-size: 14px;
}
.login-form p a{
	font-size: 14px;
}
.login-form label {
	font-size: 14px;
}
.info-container {
	font-size: 14px;
}
.login-form form {
	margin-top: 24px;
}
.login-form input {
	font-size: 15px;
	line-height: 19px;
	margin-top: 10px;
}
.form_button {
	font-size: 12px;
	margin-top: 25%;
	padding: 12px 0px;
}
.form_extra_code {
	font-size: 12px;
  padding: 12px 0px;
}
.col_padding_none{
  padding-left: 0;
  padding-right: 0;
}
#infoBox {
	position: fixed;
	/* left: -5% !important; */
	/* width: 111% !important; */
	margin: 0px;
	bottom: 0px !important;
	right: 0px !important;
	position: fixed !important;
	width: 100%;
	left: 0px !important;
}
#closeInfoBox {
	display: flex !important;
	justify-content: end;
}
.info-box img{
  width: 100%;
}
.row_w_100{
  width: 100%;
}
.otp-input {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.login-form {
	padding: 20px 20px !important;
}
.request_info h3 {
	font-size: 16px;
	line-height: 20px;
}
.request_info i {
	width: 36px;
	height: 36px;
	padding: 10px 0px 0px 10px;
	margin-top: -9px;
}
.request_info h4 {
	font-size: 16px;
	line-height: 16px;
}
.request_info p {
	font-size: 12px;
}
.request_info a {
	font-size: 14px;
}
.request_info p span {
	font-size: 12px;
}
.request_info .my_line {
	margin: 16px 0px;
}
.request_info ul li {
	font-size: 11.63px;
}
.card_request_book .box_area h3 {
	font-size: 14px;
}
.card_request_book .box_area_text h4 {
	font-size: 12px;
}
.card_request_book .box_area_text p {
	font-size: 12px;
}
.your_pay_mode {
	margin-top: 12px;
}
.card_request_book .my_line {
	margin: 12px 0px;
}
.card_request_book h3 {
	font-size: 16px;
}
.card_request_book p {
	font-size: 12px;
	margin-bottom: 16px;
}
.card_request_book span {
	font-size: 12px;
}
.card_request_book p.t_prize_text {
	font-size: 14px;
}
.card_request_book span.t_prize {
	font-size: 16px;
}
.pay_button_mobile{
  display: initial;
 }
 .card_request_book button {
	font-size: 12px;
	padding: 12px 29px;
	width: auto;
	border: none;
}
.pay_button_mobile {
	padding-top: 20px;
}
.pay_button_mobile p{
  margin-bottom: 0px;
}
.pay_button_mobile span{
  margin-bottom: 0px;
  font-size: 14px;
}
.card_request_book .box_area .img_bg {
	background-color: #4e308e1e;
	border-radius: 50px;
	padding: 14px 14px;
	width: 58px;
	height: 58px;
	margin-right: 16px;
}
.card_request_book .box_area .img_bg img{
	width: 30px;
}
.card_request_book {
	padding: 16px;
	border-radius: 8px;
}
.card_request_book a.download_button {
	font-size: 12px;
	padding: 12px 0px;
}
.card_request_book a {
	font-size: 12px;
	padding: 12px 0px;
}
.soft_position {
  position: unset !important;
}
body{
  position: relative !important;
  height: 100vh !important;
}
.popupdorsoft {
	/* display: none; */
	position: fixed !important;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 100%;
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
	z-index: 99;
	left: 0px;
	/* height: 100%; */
  /* top: 1; */
	border-radius: 10px;
	bottom: 0px !important;
  
}

.booing_status h3 {
	font-size: 20px;
	margin-top: 16px;
	margin-bottom: 8px;
	line-height: 0px;
}
.booking_status_name p {
	font-size: 14px;
}
.booking_status_card {
	padding: 16px 16px;
}
.my_imgg_bg {
	width: 32px;
	height: 32px;
	margin-left: -43px;
}
.my_imgg_bg img {
	width: 16px;
	height: 16px;
	margin: 7px 0px 0px 8px;
}
.soft_collam{
  justify-content: start !important;
}
.filter_button_area button{
  margin-top: 12px;
  margin-bottom: 12px;
}
.data_table {
	margin-top: 16px;
}



#mainForm {
	position: fixed !important;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 9999999 !important;
}
.card {
	position: fixed !important;
	bottom: 0;
}
.calendar-popup {
	position: fixed !important;
	/* top: 0px; */
	left: 0;
	bottom: 0px;
	width: 100%;
}
.status_buttons {
	height: 26px;
	margin-top: 10px;
}
.mobilehid {
  display: initial ;
}
.nghf p {
	font-family: Quicksand;
	font-size: 14px;
	font-weight: 500;
	line-height: 17px !important;
	text-align: left;
	color: #878787;
	margin-top: 14px !important;
	margin-bottom: 0px;
}
.mabile_desk_profile_manu {
	background-color: #ffffff;
	position: fixed;
	top: 0px !important;
	z-index: 999 !important;
	border-radius: 10px;
	left: 0%;
	width: 100%;
	height: 100%;
	z-index: 999999999999999999999 !important;
}
.my_line {
	height: 1.5px;
	background-color: #E6E8EC;
	width: 100%;
	margin: 5px 0px;
}
.mabile_desk_profile_manu ul {
	background-color: #ffffff;
	margin-top: 10px;
}
.mobile_bottom_fix {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 12px 16px;
}
.mobile_bottom_fix .pay_button_mobile{
  margin-top: 0px;
  padding-top: 0px;
}
.mobile_bottom_fix button{
  margin-top: 0px;
}
.tarik_p {
	padding: 5px 10px 10px 10px;
	width: 32px;
	height: 32px;
	margin-bottom: 0px !important;
}
.selected-end {
	background-color: #4e308e1f;
	border-top-right-radius: 100px !important;
	border-bottom-right-radius: 100px !important;
	width: 32px !important;
}
.prev-next-month {
	margin-top: 6px;
}
div[data-date="2024-9-11"] .tarik_p::after, div[data-date="2024-9-12"] .tarik_p::after, div[data-date="2024-9-15"] .tarik_p::after, div[data-date="2024-9-20"] .tarik_p::after {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: #007bff;
	border-radius: 1.6px !important;
	margin: -2px auto 0px !important;
}
div[data-date="2024-9-11"] .tarik_p::after, div[data-date="2024-10-12"] .tarik_p::after, div[data-date="2024-10-15"] .tarik_p::after, div[data-date="2024-10-20"] .tarik_p::after, div[data-date="2024-10-21"] .tarik_p::after, div[data-date="2024-10-22"] .tarik_p::after, div[data-date="2024-10-23"] .tarik_p::after {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: #BB2FBD;
	border-radius: 1.6px;
	margin: -2px auto 0 !important;
	clip-path: polygon(49% 1%, 0% 100%, 100% 100%);
}
.selected-start-start {
  height: 32px !important;
}
.selected-start-end {
  width: 32px !important;
}
.calendar-body div {
	height: 32px !important;
}



}


























@media (min-width: 576px) and (max-width: 767.98px) { 
  .mabile_desk_profile_manu {
    background-color: #ffffff;
    position: fixed;
    top: 0px !important;
    z-index: 999 !important;
    border-radius: 10px;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 999999999999999999999 !important;
  }
  .mabile_desk_profile_manu ul {
    margin-top: 30px;
  }
  .booking_avibile{
    text-align: center;
    justify-content: center !important;
  }
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    width: 100%;
    margin-top: 15%;
  }
  .logo img {
    margin: 0px 0px 0px 0px;
  }
  .login-form {
    background-color: #ffffff;
    padding: 40px;
    width: 100%;
    margin-top: 27%;
  }
  .info-box {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 200px;
    /* top: -128%; */
    /* left: 100%; */
    margin-left: 10px;
    bottom: -15px !important;
    /* right: 35px !important; */
    left: -10% !important;
    /* top: -164px; */
    right: 0% !important;
    width: 120% !important;
    padding: 10px 10% !important;
  }
  #closeInfoBox {
    /* display: initial !important; */
    justify-content: end;
    display: flex;
  }
  #infoIcon img{
    width: 100%;
  }
  
.booing_status h3 {
	font-size: 20px;
	margin-top: 16px;
	margin-bottom: 8px;
	line-height: 0px;
}
.booking_status_name p {
	font-size: 14px;
}
.booking_status_card {
	padding: 16px 16px;
}
.my_imgg_bg {
	width: 32px;
	height: 32px;
	margin-left: -43px;
}
.my_imgg_bg img {
	width: 16px;
	height: 16px;
	margin: 7px 0px 0px 8px;
}
.soft_collam{
  justify-content: start !important;
}
.filter_button_area button{
  margin-top: 12px;
  margin-bottom: 12px;
}
.data_table {
	margin-top: 16px;
}
#mainForm {
	
	position: fixed !important;
	bottom: 0px;
	left: 0px;
  width: 100%;
}
.card {
	position: fixed !important;
	bottom: 0;
}
.calendar-popup {
	position: fixed !important;
	/* top: 0px; */
	left: 0;
	bottom: 0px;
	width: 100%;
  z-index: 99999999999 !important;
}




}





















@media (min-width: 768px) and (max-width: 991.98px) { 
    .booking_avibile{
      text-align: center;
      justify-content: center !important;
    }
    .login-form {
      background-color: rgba(255, 255, 255, 0.8);
      padding: 40px;
      width: 100%;
      margin-top: 15%;
    }
    .logo img {
      margin: 0px 0px 0px 0px;
    }
    .login-form {
      background-color: #ffffff;
      padding: 40px;
      width: 100%;
      margin-top: 15%;
    }
    .manu_logo{
      display: none !important;
    }
}




















@media (min-width: 300px) and (max-width: 991.98px) { 
    .forMobile{
        display: initial !important;
      }
    .forDesk{
        display: none !important;
      }
      .forOnlyMobile{
        display: initial !important;
      }
      .contact_name{
        display: none;
      }
      .navbar-nav {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        background: #ffffff;
        border-radius: 4px;
      }
      .image-container img {
        
        display: none;
      }
      .login-form {
        padding: 20px 20px !important;
      }
      .mtnai .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 50px;
        position: relative;
        background-color: rgb(255, 255, 255) !important;
        z-index: 2;
        border-radius: 8px;
        top: 60% !important;
        transform: translateY(-50%);
        }
        .only_mobile_bottom{
          display: initial !important;
          padding: 13px 16px;
          background-color: #ffffff;
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .only_mobile_bottom .pay_button_mobile p{
          font-family: Quicksand;
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          text-align: left;
          color: #878787;
        }
        .only_mobile_bottom .pay_button_mobile span{
          font-family: Quicksand;
          font-size: 14px;
          font-weight: 700;
          line-height: 17.5px;          
          color: #2C1B5A;
        }
        .card_request_book {
          padding: 16px;
          border-radius: 8px;
          margin-bottom: 120px;
        }
       
}